@model Article

@{

}

<h1>@Model.Title</h1>
@if (!String.IsNullOrEmpty(Model.ThumbnailUrl))
{
    var imagePath = $"/Image/{Model.ThumbnailUrl}";
    <img src="@imagePath" alt="Image" width="500px">
}
<p>@Model.Content</p>