@{
    ViewData["Title"] = "Home Page";
}

@model List<Article?>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="~/content/static/code-editoren-t.jpg" width="500px" />

<div>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Article" asp-route-id="@article.ArticleId">
                    @article.Title
                </a>
            </li>
        }
    </ul>
</div>